* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
}

.nav-bar {
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
    background-color: black;
    color: white;
    position: fixed;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
.go-to-blog{
    width: 30%;
    margin: auto;
}
.home{
    width: 100%;
    height: 100%;
    padding: 1rem;
}
a {
    color: white;
    list-style-type: none;
    text-decoration: none;

    font-size: 1rem;
}

.notes-container {
    width: 100%;
    margin-top: 100px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.list-tasks {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.list-tasks li {
    display: flex;
    flex-direction: row;
    gap: 30px;
    width: 70%;
    text-transform: uppercase;
    align-items: center;
    border: 1px solid black;
    padding: .5rem;
}
.note{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
    
}
.note p{
 margin: 0;
}
li input {
    width: 20px;
    border-radius: 100px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

input[type="checkbox"] {
    appearance: none;
    background-color: white;
    margin: 0;
    font: inherit;
    border-radius:100px;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid currentColor;
    border-radius: 0.15em;
    transform: translateY(-0.075em);
}

.btn {
    
    align-items: center;
}


@media(max-width:550px) {
    .notes-container {
        margin-top: 10px;
        padding: 1rem;
    }

    .list-tasks form {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .list-tasks li {
        width: 95%;
    }
}